<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/sanguosha-alpha-0.5.11_(2013-6-13)/src/org/wangfuyuan/sgs/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.wangfuyuan.sgs.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sanguosha-alpha-0.5.11_(2013-6-13)"/>
</launchConfiguration>
